In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
df = pd.read_csv('customer.csv')

In [4]:
df = df.iloc[:, 0:2]

In [5]:
df

    age  gender
0    30  Female
1    68  Female
2    70  Female
3    72  Female
4    16  Female
5    31  Female
6    18    Male
7    60  Female
8    65  Female
9    74    Male
10   98  Female
11   74    Male
12   51    Male
13   57  Female
14   15    Male
15   75    Male
16   59    Male
17   22  Female
18   19    Male
19   97    Male
20   57  Female
21   32    Male
22   18  Female
23   96  Female
24   16  Female
25   57  Female
26   53  Female
27   69  Female
28   48    Male
29   83  Female
30   73    Male
31   22  Female
32   92    Male
33   89  Female
34   86    Male
35   74    Male
36   34  Female
37   94    Male
38   45  Female
39   76    Male
40   39    Male
41   23    Male
42   30  Female
43   27    Male
44   77  Female
45   61    Male
46   64  Female
47   38  Female
48   39  Female
49   25  Female