In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [23]:
df = pd.read_csv('wine_data.csv', header=None, usecols=[0,1,2,3])

In [24]:
df.columns = ['Class', 'Alcohol', 'Malic Acid', 'Ash']

In [25]:
df

     Class  Alcohol  Malic Acid   Ash
0        1    14.23        1.71  2.43
1        1    13.20        1.78  2.14
2        1    13.16        2.36  2.67
3        1    14.37        1.95  2.50
4        1    13.24        2.59  2.87
..     ...      ...         ...   ...
173      3    13.71        5.65  2.45
174      3    13.40        3.91  2.48
175      3    13.27        4.28  2.26
176      3    13.17        2.59  2.37
177      3    14.13        4.10  2.74

[178 rows x 4 columns]

In [26]:
df['Class'].value_counts()

Class
2    71
1    59
3    48
Name: count, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Class       178 non-null    int64
 1   Alcohol     178 non-null    float64
 2   Malic Acid  178 non-null    float64
 3   Ash         178 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 5.7 KB

# To TTS we need X and Y -- X for input cols and Y for target that model will predict

In [40]:
from sklearn.model_selection import train_test_split

x = df.drop('Class', axis=1)
# x = df.drop(df['Class']) # -- error
y = df['Class']

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.15, random_state=4) 
# random state is just a random seed so we get the same split everytime - it can be any number

In [50]:
X_train.head()

     Alcohol  Malic Acid   Ash
92     12.69        1.53  2.26
143    13.62        4.95  2.35
144    12.25        3.88  2.20
47     13.90        1.68  2.12
77     11.84        2.89  2.23

In [51]:
X_test.head()

     Alcohol  Malic Acid   Ash
163    12.96        3.45  2.35
142    13.52        3.17  2.72
14     14.38        1.87  2.38
45     14.21        4.04  2.44
81     12.72        1.81  2.20

In [52]:
print(type(Y_train))
Y_train.head()

<class 'pandas.core.series.Series'>

92     2
143    3
144    3
47     1
77     2
Name: Class, dtype: int64

In [56]:
print(type(Y_test))
Y_test.head()

<class 'pandas.core.series.Series'>

163    3
142    3
14     1
45     1
81     2
Name: Class, dtype: int64

# Normalization - MinMax

In [63]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[0.43684211, 0.15612648, 0.48128342],
       [0.68157895, 0.83201581, 0.52941176],
       [0.32105263, 0.62055336, 0.44919786],
       [0.75526316, 0.18577075, 0.40641711],
       [0.21315789, 0.42490119, 0.46524064],
       [0.71578947, 0.19565217, 0.56149733],
       [0.1       , 0.        , 0.60962567],
       [0.47105263, 0.51976285, 0.5026738 ],
       [0.5       , 0.40909091, 0.71657754],
       [0.86052632, 0.23320158, 0.72727273],
       [0.68684211, 0.46640316, 0.64171123],
       [0.56052632, 0.3201581 , 0.70053476],
       [0.64473684, 0.18379447, 0.68449198],
       [0.41315789, 0.33992095, 0.44919786],
       [0.78684211, 0.18577075, 0.45454545],
       [0.65      , 0.21146245, 0.6684492 ],
       [0.42368421, 0.12252964, 0.35294118],
       [0.31315789, 0.10869565, 0.31016043],
       [0.83421053, 0.20158103, 0.5828877 ],
       [0.41315789, 0.11857708, 0.28877005],
       [0.61315789, 0.35968379, 0.52941176],
       [0.53157895, 0.25889328, 0.99465241],
       [0.60263158, 0.49407115, 0.54545455],
       [0.27368421, 0.28063241, 0.43315508],
       [0.27631579, 0.11660079, 0.5026738 ],
       [0.33157895, 0.13241107, 0.3315508 ],
       [0.81315789, 0.14624506, 0.51336898],
       [0.74736842, 0.22924901, 0.77005348],
       [0.27631579, 0.0770751 , 0.61497326],
       [0.53157895, 0.61660079, 0.51336898],
       [0.32105263, 0.19565217, 0.40641711],
       [0.47894737, 0.5       , 0.65240642],
       [0.54736842, 0.22924901, 0.74331551],
       [0.65263158, 0.20948617, 0.68983957],
       [0.65      , 0.47035573, 0.67379679],
       [0.33157895, 0.48023715, 0.45454545],
       [0.74473684, 0.15217391, 0.70053476],
       [0.16052632, 0.26086957, 0.58823529],
       [0.62631579, 0.61264822, 0.40641711],
       [0.43947368, 0.55533597, 0.53475936],
       [0.35263158, 0.17588933, 0.5026738 ],
       [0.21315789, 0.02964427, 0.65240642],
       [0.79736842, 0.17588933, 0.49197861],
       [0.11052632, 0.32806324, 0.56684492],
       [0.35263158, 0.09288538, 0.64171123],
       [0.45789474, 0.53162055, 0.3315508 ],
       [0.64473684, 0.21146245, 0.56149733],
       [0.19210526, 0.38339921, 0.8342246 ],
       [0.46315789, 0.38142292, 0.59893048],
       [0.75      , 0.22727273, 0.65775401],
       [0.88157895, 0.56324111, 0.49197861],
       [0.3       , 0.14031621, 0.62566845],
       [0.25526316, 0.03557312, 0.34224599],
       [0.35      , 0.61067194, 0.54545455],
       [0.72368421, 0.39920949, 0.5026738 ],
       [0.46842105, 0.31027668, 0.55614973],
       [0.35263158, 0.0770751 , 0.42780749],
       [0.79736842, 0.27865613, 0.6684492 ],
       [0.80789474, 0.28063241, 0.5026738 ],
       [0.87105263, 0.18577075, 0.71657754],
       [0.97894737, 0.19565217, 0.55080214],
       [0.68421053, 0.21146245, 0.71657754],
       [0.29736842, 0.17193676, 0.50802139],
       [0.58157895, 0.64031621, 0.4973262 ],
       [0.34210526, 0.07114625, 0.49197861],
       [0.59736842, 0.19367589, 0.4171123 ],
       [0.11315789, 0.59288538, 0.2459893 ],
       [0.64736842, 0.56324111, 0.44385027],
       [0.58947368, 0.69960474, 0.48128342],
       [0.35263158, 0.08498024, 0.29946524],
       [0.25526316, 0.53162055, 0.34224599],
       [0.39210526, 0.33399209, 0.43315508],
       [0.33157895, 0.17193676, 0.45454545],
       [0.20789474, 0.14426877, 0.3368984 ],
       [0.83947368, 0.64229249, 0.61497326],
       [0.40789474, 0.10869565, 0.39572193],
       [0.75      , 0.84980237, 0.46524064],
       [0.53157895, 1.        , 0.41176471],
       [0.69473684, 0.10079051, 0.29946524],
       [0.60789474, 0.03952569, 0.53475936],
       [0.72105263, 0.22924901, 0.70588235],
       [0.74473684, 0.12055336, 0.48663102],
       [0.34210526, 0.04940711, 0.31550802],
       [0.73684211, 0.16403162, 0.67379679],
       [0.66578947, 0.1916996 , 0.50802139],
       [0.67105263, 0.18181818, 0.53475936],
       [0.27631579, 0.26482213, 0.18181818],
       [0.2       , 0.27470356, 0.75935829],
       [0.45789474, 0.32608696, 0.49197861],
       [0.48421053, 0.76482213, 0.59893048],
       [0.58157895, 0.36561265, 0.80748663],
       [0.57894737, 0.50592885, 0.49197861],
       [0.20526316, 0.27272727, 0.73796791],
       [0.62368421, 0.76284585, 0.80213904],
       [0.71315789, 0.18379447, 0.47593583],
       [0.81578947, 0.66403162, 0.73796791],
       [0.48157895, 0.12055336, 0.51336898],
       [0.64736842, 0.18181818, 0.47058824],
       [0.53157895, 0.1798419 , 0.63636364],
       [0.13947368, 0.25889328, 1.        ],
       [1.        , 0.17786561, 0.43315508],
       [0.73684211, 0.1798419 , 0.6631016 ],
       [0.44473684, 0.19960474, 0.49197861],
       [0.35263158, 0.03952569, 0.        ],
       [0.59210526, 0.17786561, 0.79144385],
       [0.43947368, 0.61857708, 0.55614973],
       [0.43157895, 0.04743083, 0.47058824],
       [0.47631579, 0.43873518, 0.6684492 ],
       [0.56315789, 0.87944664, 0.51336898],
       [0.47894737, 0.16996047, 0.62032086],
       [0.16578947, 0.22529644, 0.29946524],
       [0.70526316, 0.22134387, 0.53475936],
       [0.56052632, 0.55928854, 0.42245989],
       [0.51578947, 0.18379447, 0.6631016 ],
       [0.82368421, 0.34980237, 0.59893048],
       [0.37894737, 0.1541502 , 0.44919786],
       [0.35263158, 0.06521739, 0.39572193],
       [0.        , 0.15217391, 0.44919786],
       [0.27631579, 0.1284585 , 0.60962567],
       [0.87894737, 0.23913043, 0.60962567],
       [0.7       , 0.49802372, 0.63101604],
       [0.69736842, 0.21541502, 0.53475936],
       [0.70526316, 0.97035573, 0.5828877 ],
       [0.54736842, 0.05335968, 0.18181818],
       [0.76578947, 0.19565217, 0.48663102],
       [0.32105263, 0.78656126, 0.63101604],
       [0.71052632, 0.15019763, 0.71657754],
       [0.36578947, 0.17193676, 0.44385027],
       [0.83947368, 0.18972332, 0.5026738 ],
       [0.53947368, 0.62450593, 0.53475936],
       [0.5       , 0.60474308, 0.68983957],
       [0.84210526, 0.1916996 , 0.57219251],
       [0.48684211, 0.44466403, 0.55614973],
       [0.73421053, 0.19960474, 0.56684492],
       [0.36842105, 0.15612648, 0.4973262 ],
       [0.53684211, 0.15019763, 0.39572193],
       [0.53157895, 0.20355731, 0.39572193],
       [0.56315789, 0.36561265, 0.54010695],
       [0.59473684, 0.243083  , 0.70588235],
       [0.66578947, 0.19565217, 0.58823529],
       [0.15526316, 0.24703557, 0.49197861],
       [0.15263158, 0.12055336, 0.71657754],
       [0.20789474, 0.19367589, 0.27807487],
       [0.70789474, 0.13636364, 0.60962567],
       [0.39473684, 0.94268775, 0.68449198],
       [0.53157895, 0.19565217, 0.36363636],
       [0.16315789, 0.18379447, 0.67379679],
       [0.38947368, 0.19565217, 0.3315508 ],
       [0.26578947, 0.70355731, 0.54545455],
       [0.62368421, 0.62648221, 0.59893048],
       [0.36578947, 0.72924901, 0.73262032]])

In [64]:
scaler.data_max_

array([14.83,  5.8 ,  3.23])

In [65]:
scaler.data_min_

array([11.03,  0.74,  1.36])

In [66]:
scaler.data_range_

array([3.8 , 5.06, 1.87])

In [67]:
scaler.feature_range

(0, 1)