In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')

In [4]:
df.sample(5)

    Cabin             Ticket number  Survived
415   NaN             343095      A         0
564   NaN  SOTON/O.Q. 392087      6         0
678   NaN            CA 2144      2         0
519   NaN             349242      1         0
77    NaN             374746      3         0

In [5]:
df['number'].unique()

array(['5', '3', '6', 'A', '2', '1', '4'], dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cabin     204 non-null    object
 1   Ticket    891 non-null    object
 2   number    891 non-null    object
 3   Survived  891 non-null    int64
dtypes: int64(1), object(3)
memory usage: 28.0+ KB