In [39]:
import numpy as np
import pandas as pd

import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import PowerTransformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer

from sklearn.metrics import r2_score

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

In [7]:
df = pd.read_csv('Social_Network_Ads.csv')

In [8]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [25]:
# train test split
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.15, random_state=42)

In [15]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [62]:
# binning of age and salary and transforming gender

trf = ColumnTransformer([
    ('age_encoded', KBinsDiscretizer(n_bins=10, encode='onehot', strategy='quantile'), ['Age']),
    ('salary_encoded', KBinsDiscretizer(n_bins=10, encode='onehot', strategy='quantile'), ['EstimatedSalary']),
    ('gender_encoded', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), ['Gender'])
], remainder='passthrough')

In [63]:
# transforming the cols

x_train_transformed = trf.fit_transform(x_train)
x_test_transformed = trf.transform(x_test)

In [64]:
clf = DecisionTreeClassifier()

clf.fit(x_train_transformed, y_train)
pred = clf.predict(x_test_transformed)
print(accuracy_score(y_test, pred))
print(np.mean(cross_val_score(estimator=clf, X=x_train_transformed, y=y_train, cv=10)))

0.8666666666666667
0.8382352941176471

### using reg model or scoring or both on classification problem - bad score  like below

In [50]:
clf = LinearRegression()

clf.fit(x_train_transformed, y_train)
pred = clf.predict(x_test_transformed)
print(r2_score(y_test, pred))
print(np.mean(cross_val_score(estimator=clf, X=x_train_transformed, y=y_train, cv=10)))

0.7456333240700953
0.5535184343735079

In [77]:
trf.named_transformers_['age_encoded'].n_bins_

array([10])

In [78]:
trf.named_transformers_['age_encoded'].bin_edges_

array([array([18., 25., 28., 32., 35., 37., 40., 42., 47., 52., 60.])],
      dtype=object)