In [1]:
import numpy as np
import pandas as pd

## Working with JSON

In [3]:
df = pd.read_json('train.json')

In [5]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

## Working with SQL

In [8]:
df1 = pd.read_sql_query('world (1).sql')
df1

TypeError: read_sql_query() missing 1 required positional argument: 'con'