In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv('1000_ml_jobs_us.csv')

In [3]:
df.head()

,Unnamed: 0,job_posted_date,company_address_locality,company_address_region,company_name,company_website,company_description,job_description_text,seniority_level,job_title
0,0,2024-10-31,Indianapolis,Indiana,Upper Hand,https://upperhand.com,Upper Hand is the leading provider of full-sui...,OverviewUpper Hand is embarking on an exciting...,Internship,Internship - Machine Learning Engineer & Data ...
1,1,2025-03-14,San Francisco,California,Ikigai,https://www.ikigailabs.io,"Built upon years of MIT research, Ikigai is a ...",Company DescriptionThe Ikigai platform unlocks...,Mid-Senior level,Machine Learning Engineer
2,2,2025-04-09,San Jose,CA,Adobe,http://www.adobe.com,Adobe is the global leader in digital media an...,Our CompanyChanging the world through digital ...,Entry level,Machine Learning Engineer
3,3,2025-03-22,Mountain View,California,Waymo,https://waymo.com/careers/,On the journey to be the world's most trusted ...,Waymo is an autonomous driving technology comp...,Entry level,"Machine Learning Engineer, Training"
4,4,2025-03-28,Boston,Massachusetts,HMH,http://www.hmhco.com,We are an adaptive learning company that empow...,Job Title: Machine Learning EngineerLocation: ...,Mid-Senior level,Machine Learning Engineer

In [17]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   job_posted_date           997 non-null    object
 1   company_address_locality  950 non-null    object
 2   company_address_region    884 non-null    object
 3   company_name              997 non-null    object
 4   company_website           983 non-null    object
 5   company_description       985 non-null    object
 6   job_description_text      996 non-null    object
 7   seniority_level           988 non-null    object
 8   job_title                 997 non-null    object
dtypes: object(9)
memory usage: 70.2+ KB

In [19]:
df.isnull().mean()*100

job_posted_date              0.000000
company_address_locality     4.714142
company_address_region      11.334002
company_name                 0.000000
company_website              1.404213
company_description          1.203611
job_description_text         0.100301
seniority_level              0.902708
job_title                    0.000000
dtype: float64

In [20]:
df['seniority_level'].value_counts()

seniority_level
Mid-Senior level    371
Entry level         300
Not Applicable      209
Internship           70
Associate            32
Director              5
Executive             1
Name: count, dtype: int64

# Checking for the missing vals

In [31]:
cols = [var for var in df if df[var].isnull().mean()*100 > 0 and df[var].isnull().mean()*100 < 5]
cols

['company_address_locality',
 'company_website',
 'company_description',
 'job_description_text',
 'seniority_level']

In [35]:
missing = df[cols]

In [37]:
missing.shape

(997, 5)

In [38]:
df.shape

(997, 9)

In [42]:
missing = missing.dropna()

In [43]:
missing.shape

(937, 5)

### comparing missing vals with original

In [46]:
missing['company_address_locality'].plot(kind='hist')

TypeError: no numeric data to plot